---
import type { Review } from './interfaces.ts';
import { Image } from 'astro:assets';

interface Props {
  review: Review;
}

const { review } = Astro.props;
---

<div
  class="background-default border-default transition-default flex h-full flex-col rounded-xl border p-6 shadow-md hover:shadow-xl"
>
  <div class="mb-4 flex items-start gap-4">
    <Image src={review.image} alt={review.name} width={48} height={48} class="h-12 w-12 rounded-full object-cover" />

    <div class="flex-1">
      <h3 class="text-primary text-lg font-bold">{review.name}</h3>
      <p class="text-secondary text-sm">
        {review.position}
      </p>
      <p class="text-secondary text-sm font-semibold">{review.company}</p>
    </div>
  </div>

  <div class="scrollbar-styled flex-1 overflow-y-auto">
    <p class="text-secondary leading-relaxed">
      {review.text}
    </p>
  </div>
</div>
