---
import { SOCIALS } from '@shared//constants.ts';
import EmailIcon from './icons/email.svg';
import MessengerIcon from './icons/messenger.svg';
import GeolocationIcon from './icons/geolocation.svg';
import { getUkraineTimezone } from './helpers.ts';
import { useTranslations } from '@shared/helpers.ts';
import { DIRECT_CONTACT_TRANSLATIONS } from './translations.ts';

const iconClasses = 'mb-4 h-12 w-12 text-blue-600 dark:text-blue-400';
const contactInformationClasses =
  'background-default border-default flex flex-col items-center rounded-xl border-2 p-6 text-center shadow-lg transition-transform hover:scale-105 w-64';
const t = useTranslations(Astro.url, DIRECT_CONTACT_TRANSLATIONS);
---

<section class="mb-16">
  <h2 class="text-primary mb-8 text-center text-3xl font-bold">{t('directContact.title')}</h2>

  <div class="mx-auto flex flex-wrap justify-center gap-6">
    <div class={contactInformationClasses}>
      <EmailIcon class={iconClasses} />
      <h3 class="text-primary mb-2 text-xl font-semibold">{t('directContact.email.title')}</h3>
      <a href=`mailto:${SOCIALS.EMAIL}` class="text-hover transition-default text-blue-600 dark:text-blue-400">
        {SOCIALS.EMAIL}
      </a>
    </div>

    <div class={contactInformationClasses}>
      <MessengerIcon class={iconClasses} />
      <h3 class="text-primary mb-2 text-xl font-semibold">Telegram</h3>
      <a
        href={SOCIALS.TELEGRAM}
        target="_blank"
        rel="noopener noreferrer"
        class="text-hover transition-default text-blue-600 dark:text-blue-400"
      >
        @khavol
      </a>
    </div>

    <div class={contactInformationClasses}>
      <GeolocationIcon class={iconClasses} />
      <h3 class="text-primary mb-2 text-xl font-semibold">{t('directContact.location.title')}</h3>
      <p class="text-secondary">{t('directContact.location.city')}</p>
      <p class="text-secondary text-sm">{getUkraineTimezone()}</p>
    </div>
  </div>
</section>
